
# Ignore dev files
.vscode
.circleci
.editorconfig
.eslintrc.js
.prettierrc.js
*.config.js
*.config.*.js
*.setup.js
.flowconfig
tsconfig.json

# Ignore source files
src

# Ignore examples
examples
docs

# Ignore tests
**/__tests__
tests
coverage

# Other stuff
.DS_Store
